.food-gallery {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

img{
    width: 100%;
}


/* Medium devices (tablets, 768px and up) */
@media (width >=768px) {
    .food-gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
    }


}