th td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th { 
    background: #444;
    color: white;
}

h1, h2, h3, h4, h5, h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: blanchedalmond;
}