.dish-table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

th td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th { 
    background: #444;
    color: white;
    text-align: left;
    padding-left: 1rem;
}

td{
    padding-left: 1rem;
}

h1, h2, h3, h4, h5, h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    padding-left: 1rem;
}

body{
    background-color: blanchedalmond;
}

